{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container1">
<form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    <h2>REMINDERS:</h2>
    <div class="scrollable-container">
        <p>
            ∙This duly accomplished requisition form must be submitted at least two (2) days prior to the scheduled
            laboratory class.<br>
            <br>
            ∙List all needed materials and chemicals/reagents in this form. Additional items not listed may be added only after all requisition for the class had been served.<br>
            <br>
            ∙Show proof of cleaning materials (per class) upon receiving requested Items.<br>
            <br>
            ∙Double check the issued materials/glassware while you are still at the counter. Otherwise, any damage and/or lack materials from the released items will be held accountable to the requestors.<br>
            <br>
            ∙Return clean all borrowed materials 10-15 minutes before the end of each laboratory period. Lockeapparatus such as microscopes must be returned in its proper placement.<br>
            <br>
            ∙All breakages and/or lost Items must be reported to the Science Laboratory staff Immediately and
            must be replaced with the same quantity and quality not later than a week after the said experiment.<br>
            <br>
            ∙No materials and/or samples must be left in any of the facilities under the Science Laboratory without
            proper labeling and informing the office (AD 409). The Science Laboratory will not be held responsible
            for any lost items and/or materials from irresponsible requestors and laboratory users.<br>
            <br>
            ∙Be well-guided from the information posted in the laboratories, laboratory manuals, Science
            Laboratory e-handbook and the announcement board for laboratory use, guidelines, and updates.<br>
            <br>
            ∙Using any of the laboratories and/or laboratory materials controlled by the Science Laboratory means
            that users understand and strictly adhere to the laboratory rules and guidelines provided by the
            Science Laboratory.
        </p>
    </div>
    {{ wizard.form.as_p }}
    <button type="submit" class="proceed-button">Next</button>
</form>
</div>
{% endblock %}