{% extends "base.html" %}
{% block content %}
<h1>Check Material Request: {{ material_request.subject }} - {{ material_request.title_of_experiment }}</h1>

<form method="POST">
  {% csrf_token %}

  <table border="1">
    <thead>
      <tr>
        <th>Material</th>
        <th>Quantity Requested</th>
        <th>Unit</th>
        <th>Stock</th>
        <th>Set Status</th>
      </tr>
    </thead>
    <tbody>
      {% for material_in_request in materials_in_request %}
        <tr>
          <td>{{ material_in_request.material.name }}</td>
          <td>{{ material_in_request.quantity }}</td>
          <td>{{ material_in_request.unit }}</td>
          <td>{{ material_in_request.material.quantity }}</td>
          <td>
            <select id="status_{{ material_in_request.id }}" name="status_{{ material_in_request.id }}">
              <option value="denied" {% if material_in_request.status == 'denied' %} selected {% endif %}>Denied</option>
              <option value="ready" {% if material_in_request.status == 'ready' %} selected {% endif %}>Ready</option>
            </select>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div>
    <button type="submit" name="approve_request" value="1">Approve Request</button>
    <button type="submit" name="deny_request" value="1">Deny Request</button>
  </div>
</form>
{% endblock %}