{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if lab_apparel_request.request.status == 'borrowed' %}
    <h2>Return Lab Apparel</h2>
    {% elif lab_apparel_request.request.status == 'liable' %}
    <h2>Comply Liabilities for Control No. {{ lab_apparel_request.request.control_number }}</h2>
    {% endif %}
    <h3>Lab Apparel Request Details</h3>
    <ul>
        <li><strong>Control Number:</strong> {{ lab_apparel_request.request.control_number }}</li>
        <li><strong>Student:</strong> {{ lab_apparel_request.student }}</li>
        <li><strong>Course and Year:</strong> {{ lab_apparel_request.course_and_year }}</li>
        <li><strong>Department:</strong> {{ lab_apparel_request.department }}</li>
        <li><strong>Date Borrowed:</strong> {{ lab_apparel_request.request.request_on_date }}</li>
        <li><strong>Time Borrowed:</strong> {{ lab_apparel_request.request.request_on_time }}</li>
        <li><strong>Borrowed Item:</strong> {{ lab_apparel_request.get_borrowed_item_display }}</li>
        <li><strong>Status:</strong> {{ lab_apparel_request.request.get_status_display }}</li>
    </ul>

    {% if penalty %}
        <h3>Penalty</h3>
        <p>The penalty for late return is: <strong>{{ penalty }} USD</strong></p>
    {% else %}
        <p>No penalty has been incurred.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% if lab_apparel_request.request.status == 'liable' %}Replace/{% endif %}Return Lab Apparel</button>
    </form>
</div>
{% endblock %}
