{% extends 'base.html' %}
{% block title %}Dashboard - Teacher{% endblock %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/styles-teacher.css' %}">
{% endblock %}
{% block content %}
<div class="dashboard-grid">
    <!-- Top row: Class Schedule and Request Overview -->
    <div class="top-row">
        
        <div class="col-lg-12 col-md-12">
            <div class="card p-3">
                <h3>Request Overview</h3>
                <p>There's {{requestcount}} requests scheduled for this week.</p>
                <p>{{m_count}} material requisition requests need your approval.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
